* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mundo-do-jogo {
    width: 80%;
    height: 435px;
    border: 2px solid black;
    margin: auto;
    top: 100px;
    position: relative;

}

.cenario {
    position: absolute;
    bottom: 0;
    animation: cenario1-animacao 5s;
    background: fixed;
}

.mario{
    width: 20px;
    position: absolute;
    bottom: 48px;
}



