* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mundo-do-jogo {
    width: 600px;
    height: 400px;
    border: 2px solid black;

}

/*
.cenario {
    position: relative;
    bottom: 0;
   
  
}

#mario{
    width: 20px;
    position: absolute;
    bottom: 47px;
  
}*/

